:root {
    --primary: #3785b1;
    --negro: #262626;
    --blanco: #FFF;
    --fuentePrincipal: 'Raleway', sans-serif;
    --fuenteSecundaria: 'Playfair Display', serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px*/
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/*globales*/
h1,h2,h3{
    font-family: var(--fuenteSecundaria);
}
h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}
h3{
    font-size: 2.4rem;
    margin: 0 0 5rem 0;
}
a{
    text-decoration: none;
    color: var(--negro);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}
.btn{
    background-color: #f38620;
    display: block;
    text-transform: uppercase;
    color: var(--blanco);
    font-weight: 900;
    transition: background-color .3s ease-out;
    text-align: center;
}
.btn:hover{
    background-color: #e16919;
}
/*utilidades*/
.text-center{
    text-align: center;
}

.max-width-30{
    max-width: 30rem;
}
/*header y navegacion*/
.nombre-sitio{
    text-align: center;
}

.nombre-sitio span{
    color: var(--primary);
}

.contenedor-navegacion{
    border-top: solid 1px var(--negro);
}
.nav-header{
    padding: 1rem 0;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .nav-header{
        max-width: 40rem;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .nav-header{
        max-width: 50rem;
    }
}

.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25rem;
}
/* categorias */
@media (min-width: 768px) {
    .listado{
        margin: 0 8rem;
    } 
}

.listado-categorias{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: .5rem;
    justify-items: center;
}
@media (min-width: 768px) {
    .listado-categorias{
        grid-template-columns: repeat(3,1fr);
       
    }
   
}
.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 1.5rem;
}
.categoria a:hover{
    background-color: var(--primary);
    color: var(--blanco);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.listado-imagen{
    height: 30rem;
    width: 30rem;
    object-fit: cover;
}

/* nosotros */
.sobre-nosotros{
    margin-top: 3rem;
    background-image: linear-gradient(to right, transparent 50%, var(--primary) 50%, var(--primary) 100%), url(../img/nosotros.jpg);
    background-position: center bottom;
    padding: 10rem;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}
.sobre-nosotros-grid{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem; */
    display: flex;
    justify-content: flex-end;
}
.nosotros-texto{
    /* grid-column: 2 / 3; */
    flex-basis: 50%; /*ancho del elemento*/
    padding-left: 10rem;
    color: var(--blanco);
}


/*productos*/
.productos-listado{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 4rem;
}
.producto:nth-child(1){
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img{
    height: 40rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(2){
    grid-column: 1 / 4;
}
.producto:nth-child(3){
    grid-column: 4 / 7;
}
.producto:nth-child(2) img,
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(4){
    grid-column: 1 / 3;
}
.producto:nth-child(5){
    grid-column: 3/ 5;
}
.producto:nth-child(6){
    grid-column: 5 / 7;
}
.producto:nth-child(4) img,
.producto:nth-child(5) img,
.producto:nth-child(6) img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.producto{
    background-color: var(--primary);
}
.producto-texto h3{
    margin: 0;
}
.producto-texto{
    text-align: center;
    color: var(--blanco);
    padding: 2rem;
    
}
.producto-texto p{
    margin: 0 0 .5rem 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    font-size: 1.2rem;
}
.producto-precio{
    font-size: 4rem;
    font-weight: 900;
}
.producto-texto a{
    background-color: #f38620;
    display: block;
    text-transform: uppercase;
    color: var(--blanco);
    font-weight: 900;
    transition: background-color .3s ease-out;
}
.producto-texto a:hover{
    background-color: #e16919;
}
.producto img{
    transition: transform .3s ease-out
}
.producto img:hover{
    transform: scale(.9);
}

/*footer*/
.footer{
    border-top: 1px solid #e1e1e1;
    padding-top: 3rem;
   
}
.footer h3{
    margin-bottom: .5rem;
    color: var(--primary);
}
.grid-footer{
    display: flex;
    margin-bottom: 3rem;
}
.grid-footer div{
    flex: 1; /*factor de crecimiento */
}
.footer-nav a{
    display: block;
    margin-bottom: .5rem;
}
.footer-nav a:hover{
    color: var(--primary);
}
.copyright{
    text-align: center;
    margin: 0;
    background-color: var(--primary);
    padding: 3rem;
}

/*blog*/
.blog-contenedor{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}
.blog{
    padding-left: 4rem;
}
.blog-entrada{
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}
.blog-entrada:last-of-type{
    border: none;
}
.info-blog{
    display: flex;
    justify-content: space-between;
}
.info-blog p{
    font-weight: 700;
}
.info-blog span{
    color: var(--primary);
    font-weight: 400;
}